body {
    font-family: 'Poppins', sans-serif;



}

.header {
    text-align: center;
    color: white;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

#head {
    font-size: 55px;
}

.header-part a {
    text-decoration: none;
    background-color: brown;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;

}

.first-part {
    text-align: center;
}

.first-part h1 {
    font-size: 50px;
}

.first-header a {
    background-color: rgb(219, 213, 213);
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    padding: 25px 20px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;

}

#hightlight {
    color: #e94b4b;
    background-color: rgb(243, 140, 140);
    border-color: darkblue;
}

#donate-now {
    text-decoration: none;
    color: white;
    background-color: #e94b4b;
    font-size: 25px;
    margin: 10px 30px;
    padding: 5px 15px;
}

.second-header {
    text-align: center;
}

.second-header h1 {
    font-size: 40px;
}

.flax {
    display: flex;
    margin-top: 10%;
    padding: 20px 30px 20px 30px;


}